div{
    background-color: aquamarine;
    margin: 30px;
    padding: 10px 10px 10px 20px;
}
h3{
    background-color: rgb(255, 255, 255);
    text-align: center;
    
}
.bord1{
    border: 20px solid;
    /* border-left: 10px; */
    border-radius: 30px 5px 50px 5px;
    border-color: rgb(0, 100, 0);
    padding: 10px;
}
header{
    height: 300px;
    font-size: 50px;
    text-align: center;
    background-image: url('../image/me\ with\ abbu.jpg');
    background-size: cover;
    /* background-repeat:repeat-x; */
    background-size: contain;
}